/* Additional styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

html {
    overflow-x: hidden;
}

/* Menu icon */
#menu-icon {
    font-size: 3rem;
    color: #ffffff;
    display: none;
}

/* Responsive Design */
/* Menu icon */
@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }
}
